
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="justify-content-center">
    <p class="fs-4">Viverra justo nec ultrices dui sapien eget mi proin sed. Augue ut lectus arcu bibendum at. Aliquam purus sit amet luctus venenatis lectus magna. Nec dui nunc mattis enim ut tellus. In nisl nisi scelerisque eu ultrices. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Tellus pellentesque eu tincidunt tortor aliquam nulla. Aliquam purus sit amet luctus. Aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Magna ac placerat vestibulum lectus mauris. Nunc sed blandit libero volutpat sed cras. Neque viverra justo nec ultrices dui sapien eget. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Mattis ullamcorper velit sed ullamcorper.</p>
    <video width="100%" controls>
        <source src="mov_bbb.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML video.
    </video>
    <p class="fs-6 float-end">Last Updated: 5/14/24</p>
</div>
