@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Foodo</h1>
    <div class="container border-bottom">
        <div>
            <img class="img-fluid rounded-pill" src="https://th.bing.com/th/id/OSK.HEROIumuaH_5An0-chmOqVihvA7DLOWNuCTvuxACn1zwpNA?rs=1&pid=ImgDetMain" alt="Assortment of vegatbles">
        </div>
        <br/>
    </div>
    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OSK.HEROIumuaH_5An0-chmOqVihvA7DLOWNuCTvuxACn1zwpNA?rs=1&pid=ImgDetMain" alt="Assortment of vegatbles">
            <h2 class="border-bottom">Vegetables</h2>
            <br />
            <h3>Cool Vegetables</h3>
            <p>5/14/24</p>
        </div>
        
        <div class="p-2">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OSK.HEROIumuaH_5An0-chmOqVihvA7DLOWNuCTvuxACn1zwpNA?rs=1&pid=ImgDetMain" alt="Assortment of vegatbles">
            <h2 class="border-bottom">Fruits</h2>
            <br />
            <h3>Interesting Fruits</h3>
            <p>5/11/24</p>
        </div>
        <div class ="p-2">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/OSK.HEROIumuaH_5An0-chmOqVihvA7DLOWNuCTvuxACn1zwpNA?rs=1&pid=ImgDetMain" alt="Assortment of vegatbles">
            <h2 class="border-bottom">Other</h2>
            <br />
            <h3>Sourcing Foods</h3>
            <p>5/9/24</p>
        </div>
    </div>
</div>
